<!DOCTYPE html>
<html>
<head>
 <title>Classifier</title> <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body><h1 style="text-align:center">Hello! This is my web-based project for image classifying</h1><h2 style="text-align:center">Try it!</h2><p align="center"><a href=submit ><button class=grey style="height:75px;width:150px">Predict</button></a></p><small style="position: fixed; bottom: 0; width:100%; text-align: center">Created by Andrey Fedyashev</small></body>
</html>